{% extends "_base.html" %}

{% load static %}

{% block title %}About us{% endblock title %}

{% block background_image %}
    <img class="pic" src="{% static "img/backgrounds/about_us.jpg" %}" alt="about us image">
{% endblock background_image %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
{% endblock css %}

{% block content %}
    <h2>درباره رستوران مصطفی</h2>
    <div class="main">
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat odit sed earum autem aut explicabo voluptatem ipsum nisi vitae iure dolorem eos dignissimos pariatur, eligendi eveniet excepturi veniam assumenda ea! Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus optio voluptates officia ut ipsam quos itaque quis et illum saepe quia aspernatur vero praesentium, quo officiis eaque ipsa repellat autem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dignissimos earum numquam. Aspernatur blanditiis explicabo, voluptatem in cupiditate omnis, necessitatibus reiciendis amet dignissimos modi sapiente provident! Minus vel facilis beatae?</span>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium labore quibusdam quidem quae minus nihil provident laboriosam porro repudiandae aliquid? Repellat quaerat voluptatibus laboriosam corporis corrupti a id explicabo sunt!</span>
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit et minima ea libero quo, excepturi repellendus aliquid obcaecati! Omnis, eaque quidem facere magni velit corporis nam? Architecto fugit cupiditate laudantium.</span>
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem ut quos ullam voluptatum vitae praesentium libero nostrum sapiente veritatis obcaecati, perferendis iure. Reiciendis nihil est eum autem tempora minus ex!</span>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel explicabo, corrupti quas similique repudiandae veniam eum corporis architecto consectetur molestiae placeat quisquam magnam accusamus omnis laborum voluptatem a! Soluta, non.</span>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel explicabo, corrupti quas similique repudiandae veniam eum corporis architecto consectetur molestiae placeat quisquam magnam accusamus omnis laborum voluptatem a! Soluta, non.</span>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel explicabo, corrupti quas similique repudiandae veniam eum corporis architecto consectetur molestiae placeat quisquam magnam accusamus omnis laborum voluptatem a! Soluta, non.</span>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel explicabo, corrupti quas similique repudiandae veniam eum corporis architecto consectetur molestiae placeat quisquam magnam accusamus omnis laborum voluptatem a! Soluta, non.</span>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel explicabo, corrupti quas similique repudiandae veniam eum corporis architecto consectetur molestiae placeat quisquam magnam accusamus omnis laborum voluptatem a! Soluta, non.</span>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel explicabo, corrupti quas similique repudiandae veniam eum corporis architecto consectetur molestiae placeat quisquam magnam accusamus omnis laborum voluptatem a! Soluta, non.</span>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel explicabo, corrupti quas similique repudiandae veniam eum corporis architecto consectetur molestiae placeat quisquam magnam accusamus omnis laborum voluptatem a! Soluta, non.</span>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel explicabo, corrupti quas similique repudiandae veniam eum corporis architecto consectetur molestiae placeat quisquam magnam accusamus omnis laborum voluptatem a! Soluta, non.</span>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel explicabo, corrupti quas similique repudiandae veniam eum corporis architecto consectetur molestiae placeat quisquam magnam accusamus omnis laborum voluptatem a! Soluta, non.</span>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel explicabo, corrupti quas similique repudiandae veniam eum corporis architecto consectetur molestiae placeat quisquam magnam accusamus omnis laborum voluptatem a! Soluta, non.</span>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel explicabo, corrupti quas similique repudiandae veniam eum corporis architecto consectetur molestiae placeat quisquam magnam accusamus omnis laborum voluptatem a! Soluta, non.</span>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, culpa ea earum quod nobis eos deserunt illo tempore laborum? Ad nisi ducimus a aut illum similique fugit ut officia excepturi.</span>
    </div>
{% endblock content %}